@charset "utf-8";
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src:local('?'), 
         url('../font/notosanskr/NotoSansKR-Light.woff2') format('woff2'),
         url('../font/notosanskr/NotoSansKR-Light.woff') format('woff');	   
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src:local('?'),  
        url('../font/notosanskr/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/notosanskr/NotoSansKR-Regular.woff') format('woff');		
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 600;
   src:local('?'),     
        url('../font/notosanskr/NotoSansKR-Medium.woff2') format('woff2'),
        url('../font/notosanskr/NotoSansKR-Medium.woff') format('woff');
 }