@charset "utf-8";
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src:local('?'),  
        url('../font/notosanskr/NotoSansKR-Regular.ttf') format('truetype');		
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 600;
   src:local('?'),     
        url('../font/notosanskr/NotoSansKR-Medium.ttf') format('truetype');
 }