@charset "utf-8";
body,div,h1,h2,h3,h4,h5,h6,table,th,td{margin:0; padding:0;font-size: 15px;}
h1,h2,h3,h4,h5,h6{font-weight:300;line-height:1.4;color:#111;font-size: 15px;}
table {width: 100%;border-collapse: collapse;font-size: 15px;}

.cet_lay {text-align: center}
.th_mix{ border: 0.5pt solid black;border-top-width:0.5pt}
.th_mix td, .th_mix th{border:0.5pt solid black; padding: 4mm 3mm;white-space: nowrap;}
.th_mix thead th {padding: 3mm;background: #FAFAFA; font-weight:normal}

.nol_td td {padding: 10px 8px;}
.nol_td {white-space: nowrap;}

.td_1 {width: 15%;}.w10 {width: 5%;}.td_2 {width: 5%;}.td_3 {width: 4%;}

.tr_1{
height="250px";
}