@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?89607532');
  src: url('../font/fontello.eot?89607532#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?89607532') format('woff2'),
       url('../font/fontello.woff?89607532') format('woff'),
       url('../font/fontello.ttf?89607532') format('truetype'),
       url('../font/fontello.svg?89607532#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?89607532#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-clubking:before { content: '\e800'; } /* '' */
.icon-plus-s:before { content: '\e801'; } /* '' */
.icon-minus-s:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e803'; } /* '' */
.icon-right-dir-1:before { content: '\e804'; } /* '' */
.icon-match:before { content: '\e805'; } /* '' */
.icon-right-arrow:before { content: '\e806'; } /* '' */
.icon-left-arrow:before { content: '\e807'; } /* '' */
.icon-down-arrow:before { content: '\e808'; } /* '' */
.icon-up-arrow:before { content: '\e809'; } /* '' */
.icon-member_g:before { content: '\e80a'; } /* '' */
.icon-player:before { content: '\e80b'; } /* '' */
.icon-enlist:before { content: '\e80c'; } /* '' */
.icon-outline_3:before { content: '\e80d'; } /* '' */
.icon-member_1:before { content: '\e80e'; } /* '' */
.icon-kms_02:before { content: '\e80f'; } /* '' */
.icon-add:before { content: '\e810'; } /* '' */
.icon-project:before { content: '\e811'; } /* '' */
.icon-back_ar:before { content: '\e812'; } /* '' */
.icon-referee-chg:before { content: '\e813'; } /* '' */
.icon-cock-call:before { content: '\e814'; } /* '' */
.icon-record:before { content: '\e815'; } /* '' */
.icon-profile:before { content: '\e816'; } /* '' */
.icon-main:before { content: '\e817'; } /* '' */
.icon-liked:before { content: '\e818'; } /* '' */
.icon-participate:before { content: '\e819'; } /* '' */
.icon-member:before { content: '\e81a'; } /* '' */
.icon-score:before { content: '\e81b'; } /* '' */
.icon-file-view:before { content: '\e81c'; } /* '' */
.icon-volume:before { content: '\e81d'; } /* '' */
.icon-privacy:before { content: '\e81e'; } /* '' */
.icon-club-info:before { content: '\e81f'; } /* '' */
.icon-shuttlecock:before { content: '\e820'; } /* '' */
.icon-search:before { content: '\e821'; } /* '' */
.icon-ranking:before { content: '\e822'; } /* '' */
.icon-outline_4:before { content: '\e823'; } /* '' */
.icon-cake:before { content: '\e824'; } /* '' */
.icon-staff-call:before { content: '\e825'; } /* '' */
.icon-class:before { content: '\e826'; } /* '' */
.icon-game-ask:before { content: '\e827'; } /* '' */
.icon-email:before { content: '\e828'; } /* '' */
.icon-t-size:before { content: '\e829'; } /* '' */
.icon-play_1:before { content: '\e82a'; } /* '' */
.icon-mobile:before { content: '\e82b'; } /* '' */
.icon-man:before { content: '\e82c'; } /* '' */
.icon-progress:before { content: '\e82d'; } /* '' */
.icon-info-result:before { content: '\e82e'; } /* '' */
.icon-staffs:before { content: '\e82f'; } /* '' */
.icon-logout:before { content: '\e830'; } /* '' */
.icon-group-set:before { content: '\e831'; } /* '' */
.icon-enter:before { content: '\e832'; } /* '' */
.icon-excel:before { content: '\e833'; } /* '' */
.icon-out:before { content: '\e834'; } /* '' */
.icon-more:before { content: '\e835'; } /* '' */
.icon-dump:before { content: '\e836'; } /* '' */
.icon-expect:before { content: '\e837'; } /* '' */
.icon-deport:before { content: '\e838'; } /* '' */
.icon-view:before { content: '\e839'; } /* '' */
.icon-club:before { content: '\e83a'; } /* '' */
.icon-quit:before { content: '\e83b'; } /* '' */
.icon-arrow-o-right:before { content: '\e83f'; } /* '' */
.icon-arrow-o-left:before { content: '\e840'; } /* '' */
.icon-save:before { content: '\e841'; } /* '' */
.icon-approval:before { content: '\e842'; } /* '' */
.icon-delete:before { content: '\e843'; } /* '' */
.icon-write:before { content: '\e844'; } /* '' */
.icon-playing:before { content: '\e845'; } /* '' */
.icon-terms:before { content: '\e847'; } /* '' */
.icon-invite:before { content: '\e84a'; } /* '' */
.icon-ad:before { content: '\e84b'; } /* '' */
.icon-club-info2:before { content: '\e84c'; } /* '' */
.icon-new:before { content: '\e84d'; } /* '' */
.icon-editfile:before { content: '\e84e'; } /* '' */
.icon-newfile:before { content: '\e84f'; } /* '' */
.icon-file:before { content: '\e850'; } /* '' */
.icon-file-attach:before { content: '\e851'; } /* '' */
.icon-attach:before { content: '\e852'; } /* '' */
.icon-down:before { content: '\e853'; } /* '' */
.icon-check:before { content: '\e854'; } /* '' */
.icon-p_set:before { content: '\e855'; } /* '' */
.icon-angle-left2:before { content: '\f100'; } /* '' */
.icon-angle-right2:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */